{% extends 'base.html.twig' %}

{% block body%}
	<h3>CONNECTEZ VOUS !</h3>
	<div class="container">
		<form action="{{ path('security_login')}}" method="post" class="bg-dark p-4">
			<div class="form-group  mt-3 ">
				<input placeholder=" votre email" type="text" require name="_username" class="form-control">
			</div>
			<div class=" form-group">
				<input placeholder="votre mot de passe" type="password" class="form-control" id="exampleInputPassword1" require name="_password">
			</div>
			<div class=" form-group">
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
		</form>
	</div>

{% endblock %}
