{% extends 'base.html.twig' %}

{% block title %}La liste des auteurs
{% endblock %}

{% block body %}

	<!-- div.example-wrapper>h1{La liste des auteurs} -->
	<div class="example-wrapper">
		<h1>La liste des auteurs</h1>


		{% for auteur in auteurs %}

			<ul class="list-unstyled mt-3">
				<li class="media">
					<img src="https://via.placeholder.com/100x100" class="mr-3" alt="...">
					<div class="media-body">
						<h2>
							<a href="{{ path('show',{'id': auteur.id} ) }}">{{ auteur.auteur }}</a>
						</h2>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
				</li>


			{% endfor %}
		</div>
	{% endblock %}
